{% extends 'layout/layout.html' %}
{% load static %}
{% load i18n %}


{% block title %}
<title>{% trans "Ana Səhifə - MultiShop Axtardığınız hərşeyi tək adrestə tapın!" %}</title>

{% endblock title %}


{% block metas %}
<meta name="keywords" content="alis veris sayti, paltarlar, online alis veris, en ucuz, en keyfiyyetli">      
<meta name="robots" content="index, follow"> 
<meta name="description" content="Axtardiginiz her nov paltarlari burdan tapa bilersiniz, cattirilma mumkundur. toptan qiym,etine perakende satis."> 
<meta property="og:title" content="Ana Səhifə - MultiShop Axtardığınız hərşeyi tək adrestə tapın!"> 
<meta property="og:description" 
  content="Axtardığınız hərşeyi bu adrestə tapa bilərsiniz!" />
<meta property="og:type" content="website"> 
<meta property="og:url" content="{{request.build_absolute_uri}}"> 
<meta property="og:image" content="{% static 'img/multishop.avif' %}">     
<meta property="og:site_name" content="MULTISHOP" />
{% endblock metas %}


{% block main %}
<!-- Carousel Start -->
    <div class="container-fluid mb-3">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for slide in slide_campaings %}
                        <li data-target="#header-carousel" data-slide-to="{{forloop.counter0}}" {% if forloop.first %}class="active"{% endif %}></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for slide in slide_campaings %}
                            <div class="carousel-item position-relative {% if forloop.first %}active{% endif %}" style="height: 430px;">
                                <img class="position-absolute w-100 h-100"   src="{{slide.image.url}}" style="object-fit: cover;">
                                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                    <div class="p-3" style="max-width: 700px;">
                                        <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">{{slide.title}}</h1>
                                        <p class="mx-md-5 px-5 animate__animated animate__bounceIn">{{slide.description}}</p>
                                        <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">{% trans "Categories" %}</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                {% for campaing in campaings|slice:':2' %}
                    <div class="product-offer mb-30" style="height: 200px;">
                        <img class="img-fluid"   src="{{campaing.image.url}}" alt="">
                        <div class="offer-text">
                            <h6 class="text-white text-uppercase">{% trans "Save" %} {{campaing.discount|floatformat}}%</h6>
                            <h3 class="text-white mb-3">{{campaing.title}}</h3>
                            <a href="" class="btn btn-primary">{% trans "Shop Now" %}</a>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- Featured Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                    <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">{% trans "Quality Product" %}</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                    <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                    <h5 class="font-weight-semi-bold m-0">{% trans "Free Shipping" %}</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                    <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">{% trans "14-Day Return" %}</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                    <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">{% trans "24/7 Support" %}</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured End -->


    <!-- Categories Start -->
    <div class="container-fluid pt-5">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">{% trans "Categories" %}</span></h2>
        <div class="row px-xl-5 pb-3">
            {% for category in categories %}
                <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center mb-4">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid cat_img"   src="{{category.image.url}}" alt="">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6>{{category.title}}</h6>
                                <small class="text-body">{{category.product_set.count}} Products</small>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
    <!-- Categories End -->


    <!-- Featured Products Start -->
    <div class="container-fluid pt-5 pb-3">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">{% trans "Featured Products" %}</span></h2>
        <div class="row px-xl-5">
            {% for product in featured_products %}
                {% include 'includes/one_product.html' %}
            
            {% endfor %}



        </div>
    </div>
    <!-- Featured Products End -->


    <!-- Offer Start -->
    <div class="container-fluid pt-5 pb-3">
        <div class="row px-xl-5">
            {% for campaing in campaings|slice:"2:" %}
                <div class="col-md-6">
                    <div class="product-offer mb-30" style="height: 300px;">
                        <img class="img-fluid"   src="{{campaing.image.url}}" alt="">
                        <div class="offer-text">
                            <h6 class="text-white text-uppercase">{% trans "Save" %} {{campaing.discount|floatformat}}%</h6>
                            <h3 class="text-white mb-3">{{campaing.title}}</h3>
                            <a href="" class="btn btn-primary">{% trans "Shop Now" %}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
    <!-- Offer End -->


    <!-- Recent Products Start -->
    <div class="container-fluid pt-5 pb-3">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">{% trans "Recent Products" %}</span></h2>
        <div class="row px-xl-5">
            {% for product in recent_products %}
                {% include 'includes/one_product.html' with product=product %}
            {% endfor %}

        </div>
    </div>
    <!-- Recent Products End -->


    <!-- Vendor Start -->
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel vendor-carousel">
                    <div class="bg-light p-4">
                        <img   src="{% static 'img/vendor-1.jpg' %}" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img   src="{% static 'img/vendor-2.jpg' %}" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img   src="{% static 'img/vendor-3.jpg' %}" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img   src="{% static 'img/vendor-4.jpg' %}" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img   src="{% static 'img/vendor-5.jpg' %}" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img   src="{% static 'img/vendor-6.jpg' %}" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img   src="{% static 'img/vendor-7.jpg' %}" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img   src="{% static 'img/vendor-8.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor End -->
{% endblock main %}