{% extends 'layout/layout.html' %}
{% load static %}

{% block main %}
{% url 'customer:login' as link %}
{% include 'includes/banner.html' with title1='User_name' title2='Password Reset' link=product_list %}

    <div class="row justify-content-center">
        <div class="col-5 bg-primary p-3">
            <div class="pt-5">  
                <div class="global-container">  
                <div class="card login-form">  
                    <div class="card-body">
                        {% if password_changed == False %}
                        <div class="alert alert-danger " role="alert">Şifrə dəyişdirilirkən xəta baş verdi! Təkrar cəhd edin</div>
                   {% endif %}
                        <div class="card-text">  
                            <form method='POST'>
                                {% csrf_token %}  
                                <div class="form-group">  
                                    <label for="exampleInputPassword1"> New Password </label>  
                                    <input type="password" class="form-control form-control-sm" id="exampleInputPassword1" name='password'>  
                                </div>  
                                <div class="form-group">  
                                    <label for="exampleInputPassword1"> New Password Again</label>  
                                    <input type="password" class="form-control form-control-sm" id="exampleInputPassword1" name='password-again'>  
                                </div>  
                                <button type="submit" class="btn btn-primary btn-block"> Təsdiqlə </button>  
                                    
                            </form>  
                        </div>  
                    </div>  
                </div>  
            </div>  

            </div>  
        </div>
    </div>

{% endblock main %}